*,
 *::after,
 *::before { 
     margin: 0;
     padding: 0;
     box-sizing: inherit;
 }

html{
    color: $color-default;
    font-size: 62.5%;  //1rem = 10px
}
body {
    box-sizing: border-box;
    background-color: $color-accent-3;
    position: relative;
    font-size: 1.6em;
}    

