@import "../base/animations";
@import "../abstracts/mixins";

.btn {
  transition: all .2s;
  padding: 1rem 1.5rem;
  letter-spacing: 2px;
  text-decoration: none;
  display: block;
  width: fit-content;
  @include respond(xs) {
    width: auto;
    text-align: center;
  }
  &--default {
    color: inherit;
    &:hover {
      color: $color-primary-1;
      background-color: $color-default;
      transform: translate(-2px, -2px);
      box-shadow: (5px 5px 0px 0px $color-primary-2);
    }
  }
  &--1 {
    color: $color-default;
    background-color: $color-primary-1;
    
    &:hover {
      animation: none;
      background-color: $color-default;
      color: $color-primary-1;
      transform: translate(-2px, -2px);
      box-shadow: (5px 5px 0px 0px $color-primary-2);
    }
  }
  &--2 {
    color: $color-primary-1;
    background-color: $color-default;
    
    &:hover {
      animation: none;
      background-color: $color-primary-1;
      color: $color-default;
      transform: translate(-2px, -2px);
      box-shadow: (5px 5px 0px 0px $color-default);
    }
  }
}