@import "../../assets/styles/abstracts/variables";

.Navbar {
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 50;
    background-color: $color-primary-1;
    padding: 1rem;
  }
  &-items {
    display: inherit;
    list-style-type: none;
    font-size: 1.2rem;
  }
}