@import "../../css/abstracts/variables";

.footer{
  font-size: 1rem;
  color: $color-default;
  position: absolute;
  bottom: 0;
  &-container{
      display: flex;
      justify-content: center;
      padding: 1.5rem;
      background-color: $color-primary-1;

      p{
          margin-bottom: 0;
      }
  }
  &-copyright {
      letter-spacing: 2px;
  }
}
