@import "../../css/abstracts/variables";
@import "../../css/abstracts/mixins";

.footer {
    font-size: 2rem;
    color: $color-default;
    @include respond(xs) {
        font-size: 1.6rem;
    }
}

.container {
    display: flex;
    justify-content: center;
    background-color: $color-accent-2;
    padding: 3.5rem;
    @include respond(xs) {
        padding: 2rem;
    }
    p {
        margin-bottom: 0;
    }
}

.copyright {
    font-weight: 700;
}
