//COLOR SCHEME

//PRIMARY
$color-primary-1: #7289da;
$color-primary-2: #4e5e96;
$color-primary-3: #3B445F;

//ACCENT
$color-accent-1: #99aab5;
$color-accent-2: #2c2f33;
$color-accent-3: #23272a;
$color-accent-4: #181a1c;

//GREY
$color-grey-1: #343434;
$color-grey-2: #676767;
$color-grey-3: #9A9999;
$color-grey-4:#CCCCCC;

// Default color
$color-default: #fff;

// gap stuff
$grid-gap--sm: 2rem;
$grid-gap--md: 3rem;
$grid-gap--lg: 4rem;

//margin-bottom
$margin-bottom--sm: 1rem;
$margin-bottom--md: 2rem;
$margin-bottom--lg: 3rem;
$margin-bottom--xl: 4rem;

//border-radius

$border-radius--default: 3px;

