@import "./css/abstracts/variables";
@import "./css/abstracts/mixins";
@import "./css/base/animations";

.appContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 11.5rem;
  min-height: 100vh;  
  @include respond(sm) {
    gap: 7.2rem;
  }
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.5rem;
  margin: 0 8rem;
  @include respond(xl) {
    margin: 0 30rem
  }
  @include respond(xs) {
    margin: 0 2.4rem
  }
}

.title {
  padding: 1.5rem 2rem;
  text-align: center;
  font-size: 9.2rem;
  letter-spacing: 10px;
  background-color: $color-primary-1;
  box-shadow: 1.7rem 1.7rem $color-default;
  color: $color-default;
  @include respond(md) {
    font-size: 7.2rem;
  }
  @include respond(sm) {
    font-size: 5.2rem;
    padding: 1rem 1.5rem;
    letter-spacing: 5px;
  }
  @include respond(xs) {
    font-size: 3.6rem;
    padding: 1rem 1.5rem;
    box-shadow: 0.7rem 0.7rem $color-default;
    letter-spacing: normal;
  }
}

.content {
  opacity: 90%;
  letter-spacing: 5px;
  font-size: 5.2rem;
  @include respond(md) {
    font-size: 4rem;
  }
  @include respond(sm) {
    font-size: 3.2rem;
    letter-spacing: 2px;
  }
  @include respond(xs) {
    font-size: 2.4rem;
    letter-spacing: normal;
  }
  &Container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
    @include respond(md) {
      gap: 5rem;
    }
  }
}

.btn {
  font-size: 5.2rem;
  font-weight: bold;
  width: auto;
  text-align: center;
  animation: 3s ease-in-out infinite hueSubtle;
  @include respond(md) {
    font-size: 4rem;
  }
  @include respond(sm) {
    font-size: 3.2rem;
    padding: 0.5rem 1rem;
  }
  @include respond(xs) {
    font-size: 2.4rem;
    padding: 1rem 1.5rem;
  }
}
